@model breweries.Models.Country

@{
    ViewBag.Title = "Delete";
}
<div class="editHead">
    <h2 class="edit-name">Delete - @Html.DisplayFor(model => model.Region)</h2>
</div>
<hr />
<h3 class="delete-sub-head">Are you sure you want to delete this?</h3>
<h3 class="delete-sub-head">@Html.DisplayFor(model => model.Region)</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
